.bg-video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 0.9;

  &__content {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}