.form {
  padding: 2rem;
  background-color: $color-white;
  box-shadow: 0 0 .5rem $color-black;
  position: relative;
  min-width: 30rem;
  
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 12rem;
    background-color: $color-grey-dark-3;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    z-index: 1;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9rem;
    background-color: $color-grey-dark-3;
    clip-path: polygon(100% 0, 100% 1000%, 0 100%, 0 25%);
    z-index: 1;
  }


  &__inline {
    display: flex;
    column-gap: 1rem;
  }
  
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: 1px $color-grey-dark-3 solid;
    //border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;
    
    &--half-size{
      width: 50%;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  
  &__button{
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 999;
    column-gap: 1rem;
  }
}