/////////////////////////////////////
/// COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
/////////////////////////////////////
/// FONT
$font-size-small: 1.4rem;
$font-size-default: 1.6rem;
$font-size-medium: 3.2rem;
$font-size-large: 6rem;
$font-size-megalarge: 12rem;