@model IEnumerable<MealModel>

@{
    ViewData["Title"] = "Index";
}
<seciton class="meal">
    <partial name="_MenuPartial"/>
    <div class="food__create">
        <a class="btn btn--blue u-margin-top-small" asp-controller="Meal" asp-action="Create">Create</a>
    </div>
    <ul class="meal__list">
        @foreach (var meal in Model)
        {
            <li class="meal__item">
                <span>@meal.Name</span>
            </li>
        }
    </ul>
</seciton>