@{
    ViewData["Title"] = "Index";
}

<section class="signup">
    <div class="signup__form">
        <form method="post" class="form">
            <h3 class="heading-tertiary u-margin-bottom-medium">sign up</h3>
            <div class="form__group">

            </div>
        </form>
    </div>
</section>