@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    <header class="hero">
        <h1 class="heading-primary">food time</h1>
        <h2 class="heading-secondary">Organize Make & Eat</h2>
    </header>
    
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="~/assets/video.mp4" type="video/mp4"/>
            Your browser is not supported!
        </video>
    </div>
</section>