@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    <header class="hero">
        <h1 class="heading-primary">food time</h1>
        <h2 class="heading-secondary">Organize <span class="span-text--green">Make</span> <span class="span-text--gray">&</span> <span class="span-text--green">Eat</span></h2>
        <div class="home-menu u-margin-top-medium">
            <a href="" class="home-menu__link btn btn--blue btn--animated">
                sign up
            </a>
            <a href="" class="home-menu__link btn btn--blue btn--animated">
                sign in
            </a>
        </div>
    </header>

    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="~/assets/video.mp4" type="video/mp4"/>
            Your browser is not supported!
        </video>
    </div>
</section>