.food {
  height: 95vh;
  
  &__table {
    @include centerAbsolute;
    width: 20%;
    border-collapse: separate;
    border-spacing: 0 1rem;
    color: $color-black;
  }
  
  &__headings {
    font-size: $font-size-medium;
  }
  
  &__item{
    font-size: $font-size-default;
    height: 5rem;
    text-align: center;
    background-color: $color-gray-light-2;
    transition: .2s all;
  }
  
  &__item:hover {
    box-shadow: 0 0 0.2rem black;
    transform: translateY(-.25rem);
  }
  
  &__name {
    padding: 2rem;    
  }
  
  &__calories {
    
  }
}