@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";
@import "abstracts/functions.scss";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/bg-video";
@import "components/button";
@import "components/home-menu";

@import "layout/hero";
@import "layout/navigation";

@import "pages/home";