@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";
@import "abstracts/functions.scss";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/form";
@import "components/bg-video";
@import "components/button";
@import "components/home-menu";
@import "components/logged-menu";

@import "layout/hero";
@import "layout/navigation";
@import "layout/logged-view";

@import "pages/home";
@import "pages/signup";
@import "pages/signin";
@import "pages/welcome";