/*
    0 - 600px:      Phone
    600 - 900px:    Tablet portrait
    900 - 1200px:   Tablet landscape
    [1200 - 1800]   is where our normal styles apply
    1800px + :      Big desktop
*/
/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  background-color: #f7f7f7;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: transparent;
  background-image: linear-gradient(to left bottom, #2998ff, #5643fa);
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 12rem;
  -webkit-background-clip: text;
  font-weight: 700;
  box-shadow: 0 0.25rem 1rem 0 #000000;
  z-index: 999;
}

.heading-secondary {
  text-transform: capitalize;
  letter-spacing: 1rem;
  font-size: 6rem;
  text-shadow: 0.2rem 0.2rem 1rem #000;
  z-index: 999;
}
.heading-secondary--dark-gray {
  color: #333;
}

.heading-tertiary {
  position: relative;
  color: transparent;
  background-image: linear-gradient(to left bottom, #2998ff, #5643fa);
  -webkit-background-clip: text;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 3.2rem;
  z-index: 999;
}

.span-text {
  display: block;
}
.span-text--green {
  color: #55c57a;
}
.span-text--gray {
  color: #333;
}
.span-text--blue {
  color: #2998ff;
}
.span-text--error {
  color: #ED4337;
  font-size: 1.6rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-medium {
    margin-top: 3rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.form {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem #000;
  position: relative;
  min-width: 30rem;
}
.form--manage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
}
.form--pseudo::before {
  content: "";
}
.form--pseudo::after {
  contet: "";
}
.form::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 12rem;
  background-color: #333;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  z-index: 1;
}
.form::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 9rem;
  background-color: #333;
  clip-path: polygon(100% 0, 100% 1000%, 0 100%, 0 25%);
  z-index: 1;
}
.form__inline {
  display: flex;
  column-gap: 1rem;
}
.form__group--manage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px #333 solid;
  width: 100%;
  display: block;
  transition: all 0.3s;
}
.form__input--manage {
  width: 30%;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #7ed56f;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__label--manage {
  margin-right: 25%;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__button {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  column-gap: 1rem;
}

.bg-video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 0.9;
}
.bg-video__content {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:hover {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #7ed56f;
  color: #fff;
}
.btn--green::after {
  background-color: #7ed56f;
}
.btn--blue {
  background-image: linear-gradient(to left bottom, #2998ff, #5643fa);
  color: #fff;
}
.btn--blue::after {
  background-image: linear-gradient(to left bottom, #2998ff, #5643fa);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.home-menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 5rem;
  align-items: center;
}
.home-menu__delimer {
  font-size: 6rem;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 0.45rem #000;
}
.ingredient-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.ingredient-template__group {
  width: 20%;
}
.ingredient-template__input {
  padding: 1rem;
}
.ingredient-template__label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: -0.25rem;
}

.logged-menu {
  position: relative;
  display: flex;
  padding: 1rem;
  align-items: center;
  font-size: 1.6rem;
  background-color: #333;
  opacity: 0.9;
  box-shadow: 0 0.25rem 1rem #000;
}
.logged-menu__link, .logged-menu__link:link, .logged-menu__link:visited {
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 2rem;
}
.logged-menu__title {
  font-size: 3.2rem;
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  color: transparent;
  -webkit-background-clip: text;
}
.logged-menu__list {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  list-style: none;
}

.hero {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade 2s ease-out;
}

.logged-view {
  height: 100vh;
  position: relative;
  background-color: #f7f7f7;
}

.home {
  height: 100vh;
  position: relative;
}

.signup {
  width: 100%;
  height: 100vh;
}
.signup__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signin {
  width: 100%;
  height: 100vh;
}
.signin__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome {
  position: relative;
}
.welcome__message {
  flex-grow: 1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=site.css.map */
