@model FoodModel

@*[Key]
    public int Id { get; set; }
    [Required]
    [DisplayName("Food name")]
    // [Range(1, 100, ErrorMessage = "cos nie tak")]
    public string Name { get; set; }

    public int Calories { get; set; } = 0;

    public List<IngredientModel> Ingridients { get; set; }*@
    <div class="logged-view">
        <partial name="_MenuPartial"/>
        <form method="post" class="form form--manage" id="form">
            <h3 class="heading-tertiary u-margin-bottom-medium u-center-text">Create Food</h3>
            <div class="form__group--manage">
                <label asp-for="Name" class="form__label form__label--manage"></label>
                <input asp-for="Name" class="form__input form__input--manage" aria-required="true"/>
                <span asp-validation-for="Name" class="span-text span-text--error"></span>
            </div>
            <div class="form__group" id="ingredients-container">
                @Html.EditorFor(model => model.Ingredients)
            </div>
            <div class="form__button">
                <button type="button" class="btn btn--blue u-margin-top-small" id="addIngredient">Add Ingredient</button>
                <button type="submit" class="btn btn--blue u-margin-top-small">Create</button>
            </div>
        </form>
    </div>


@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
    $("#addIngredient").on('click', function (){
        $.ajax({
            async: true,
            data: $('#form').serialize(),
            type: "POST",
            url: '/Food/AddIngredient',
            success: function (partialView) {
                $("#ingredients-container").html(partialView);    
            }
        });
    });
    </script>
}
