@model FoodModel

<section class="delete">
    <form method="post" asp-action="Delete">
        <input asp-for="Id" type="text" hidden>
        <h2 class="text-primary">Are you sure?</h2>
        <hr/>
        <div class="delete__choise u-margin-top-small">
            <button type="submit" class="btn btn--danger">Delete</button>
            &nbsp;
        <button asp-controller="Food" asp-action="Index" class="btn btn--back">
            Back to List
        </button>
        </div>
    </form>
</section>