@model IEnumerable<FoodModel>

@{
    ViewData["Title"] = "Index";
}

<section class="food">
    <partial name="_MenuPartial"/>
    <table class="food__table">
        <tr class="food__headings">
            <th>Name</th>
            <th>Calories</th>
        </tr>
        @foreach (var food in Model)
        {
            <tr class="food__item">
                <td class="food__name">@food.Name</td>
                <td class="food__calories">@food.Calories</td>
            </tr>
        }
    </table>
</section>