@model IEnumerable<FoodModel>

@{
    ViewData["Title"] = "Index";
}

<section class="food">
    <partial name="_MenuPartial"/>
    <ul class="food__list">
        @foreach (var food in Model)
        {
            <li class="meal__item">
              @food.Name
            </li>
        }
    </ul>
</section>