body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: transparent;
  background-image: linear-gradient(to left bottom, $color-tertiary-light, $color-tertiary-dark);
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: $font-size-megalarge;
  -webkit-background-clip: text;
  font-weight: 700;
  box-shadow: 0 0 0.25rem 0 #000000;
}

.heading-secondary {
  color: $color-gray-light-2;
  text-transform: capitalize;
  letter-spacing: 1rem;
  font-size: $font-size-large;
  text-shadow: .2rem .2rem 1rem $color-black;
}

.heading-tertiary {
  color: transparent;
  background-image: linear-gradient(to left bottom, $color-tertiary-light, $color-tertiary-dark);
  -webkit-background-clip: text;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: $font-size-medium;
}


.span-text {
  &--green {
    color: $color-primary-light;
  }
  
  &--gray {
    color: $color-grey-dark-3;
  }
  
  &--error {
    color: $color-error;
    font-size: $font-size-default;
  }
}