<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FoodTime</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link rel="stylesheet" href="~/FoodTime.styles.css" asp-append-version="true"/>
    <link
        href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
        rel="stylesheet"/>
</head>
<body>

<main role="main" class="main">
    <partial name="_Notification"/>
    @RenderBody()
</main>

<footer class="footer">

</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>